<div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body hero-chart">
                <canvas id="line" class="chart chart-line chart-xl" chart-data="data" chart-options="heroOptions"
                        chart-labels="labels" chart-legend="false" chart-series="series"
                        chart-click="onClick" >
                </canvas>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="toast-container">
            <div class="panel panel-default toast-widget toast-widget-orange">
                <div class="panel-body">
                    <div class="toast-chart total-widget-dark">
                        <canvas id="pass" class="chart chart-bar" chart-data="monthlyPass" chart-options="dashOptions"
                                chart-labels="labels" chart-legend="false" chart-series="series" chart-colours="dashboardColours"
                                chart-click="onClick" >
                        </canvas>
                    </div>

                    <div class="toast-details">
                        <p>Total Pass</p>
                        <span>{{totalPass}}</span>
                    </div>

                </div>
            </div>

            <div class="panel panel-default toast-widget toast-widget-grey">
                <div class="panel-body">
                    <div class="toast-chart total-widget-dark">
                        <canvas id="fail" class="chart chart-bar" chart-data="monthlyFail" chart-options="dashOptions"
                                chart-labels="labels" chart-legend="false" chart-series="series" chart-colours="dashboardColours"
                                chart-click="onClick" >
                        </canvas>
                    </div>

                    <div class="toast-details">
                        <p>Total Fail</p>
                        <span>{{totalFail}}</span>
                    </div>

                </div>
            </div>

            <div class="panel panel-default toast-widget toast-widget-blue">
                <div class="panel-body">
                    <div class="toast-chart total-widget-dark">
                        <canvas id="screenshots" class="chart chart-line" chart-data="monthlyFail" chart-options="dashOptions"
                                chart-labels="labels" chart-legend="false" chart-series="series" chart-colours="dashboardColours"
                                chart-click="onClick" >
                        </canvas>
                    </div>

                    <div class="toast-details">
                        <p>Total Screenshots</p>
                        <span>{{totalScreenshots ? totalScreenshots : 0}}</span>
                    </div>

                </div>
            </div>

            <div class="panel panel-default toast-widget toast-widget-green">
                <div class="panel-body">
                    <div class="toast-chart total-widget-dark">
                        <canvas id="misc" class="chart chart-line" chart-data="monthlyFail" chart-options="dashOptions"
                                chart-labels="labels" chart-legend="false" chart-series="series" chart-colours="dashboardColours"
                                chart-click="onClick" >
                        </canvas>
                    </div>

                    <div class="toast-details">
                        <p>Latest Test Time</p>
                        <span>{{currentTestTime}}</span>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>